
node_modules/
build/
coverage/
reports/
yarn-error.log
dev.config.local.js
test/**/deployment/
test/**/javasource/
test/**/resources/
test/**/theme/
test/**/.classpath
test/**/.project
test/**/*.launch